
.about_content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about_content .about_img {
    width: 50%;
}
.about_content .about_img img {
    width: 70%;
    margin-left: 6vw;
}
.about_content .about_info {
    width: 28%;
    display: flex;
    flex-direction: column;
}

.about_content .about_info span {
    color: red;
    font-size: 1.7rem;
    font-weight: lighter;
}
.about_content .about_info img {
    width: 15vw;
    margin-bottom: 20px;
}

.about_content .about_info p {
    color: #000;
    font-size: 14px;
    text-align: justify;
    line-height: 28px;
}


@media (max-width: 799px) {
    .about_content {
        flex-direction: column;
    }

    .about_content .about_img img {
        width: 90%;
        margin-left: 0vw;
    }
    .about_content .about_info {
        width: 55%;
        display: flex;
        flex-direction: column;
    }
    .about_content .about_info img {
        width: 25vw;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 450px) {
    .about_content .about_img img {
        width: 100%;
        margin-left: 0vw;
    }

    .about_content .about_info {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .about_content .about_info img {
        width: 34vw;
        margin-bottom: 20px;
    }
}