.footer {
    margin-top: 3vw;
    background-color: rgb(252, 242, 242);
}
.footer_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px 5vw;
}
.footer_title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8vw;
}
.footer_title .hr_line2 {
    width: 25vw;
    height: 2px;
    background-color: gray;
}
.footer_title img {
    width: 20vw;
    cursor: pointer;
}

.footer_info {
    margin-top: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20vw;
}

.footer_links ul {
    text-align: center;
}

.footer_links .af_link {
    color: rgb(49, 49, 49);
    padding: 10px;
    cursor: pointer;
}

.footer_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    font-size: 2vw;
    cursor: pointer;
}

.footer_social i {
    color: rgb(49, 49, 49);
}